.profile {
    border: 1px solid #eee;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    display: block;
    display: flex;
    flex-direction: row;
    &:hover {
        .avatar__image {
            opacity: 1;
            transform: scale(1.1);
        }
    }
    .avatar-container {
        margin-right: 1rem;
    }
    .profile__details {
        flex: 1;
        // border: 1px solid #f00;
        .profile__details__name {
            text-align: left;
            padding: 0 1rem;
        }
        .profile__details__bio {
            text-align: left;
            padding: 0 1rem;
        }
    }
}