.content-block {
    margin: 0;
    padding: 2rem 1rem;
    transition: margin 250ms;
    @media (min-width: 700px) {
        padding: 3rem;
    }
    &.compact {
        @media (min-width: 500px) {
            padding: 2rem;
        }
    }
}