main {
    transition: padding 250ms;
    position: relative;
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
    }
    p {
        line-height: 1.25;
    }
    @media (min-width: 700px) {
        h1, h2, h3, h4, h5, h6 {
            margin-top: 1rem;
        }
    }
}

