.avatar-container {
    display: inline-block;
    border-radius: 50%;
    clip-path: circle(50%);
    .avatar__image {
        display: block;
        opacity: 0.75;
        transition: opacity 250ms, transform 500ms ease-out;
    }
}
