// * { border: 1px solid #0ff; }

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Open+Sans:400,700|Nunito:300,400,700');

*, *::before, *::after {
    box-sizing: border-box;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: var(--color-ocean);
    transition: color 250ms;
}
a:hover {
    color: var(--color-helium);
}

body {
    font-size: 12pt;
    font-family: var(--font-paragraph);
    letter-spacing: 1px;
    color: var(--color-dark);
    width: 100vw;
    max-width: 1120px;
    margin: 0 auto;
    background-color: var(--color-powder);
    position: relative;
    transition: max-width 500ms, border-radius 250ms;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, var(--color-pearl), var(--color-tin))
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 1120px) {
    body {
        margin: 0 auto;
        max-width: 1080px;
    }
    main {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        overflow: hidden;
    }
}


.horizontalRule {
    margin: 2rem 0;
    border-bottom: 2px solid var(--color-pearl);
}

