.content-block {
    padding: 2rem 1rem;
    transition: padding 250ms;
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
    }
    p {
        line-height: 1.25;
    }
    @media (min-width: 700px) {
        padding: 3rem;
        h1, h2, h3, h4, h5, h6 {
            margin-top: 1rem;
        }
    }
    &.robinsegg {
        background-color: var(--color-robinsegg);
    }
    &.helium {
        background-color: var(--color-helium);
        color: #fff;
    }
    &.pigeon {
        background-color: var(--color-pigeon);
        color: #fff;
    }
    .tileGrid {
        display: flex;
        flex-direction: column;
        @media (min-width: 700px) { flex-direction: row; }
        justify-content: space-around;
        a {
            text-decoration: underline;
        }
    }
    .resources {
        margin-bottom: 4rem;
    }
}
